.body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; 
}
h1 {
    color: #2c3e50; /* Dark blue color for headings */
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2; 
    overflow-y: auto;
}

aside {
    flex: 1; 
    overflow-y: auto; 
}

header, footer {

}
